.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  display: block;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  margin-top: 10px;
  cursor: pointer;
}

#label-container {
  margin-top: 20px;
  font-size: 18px;
}

.Navbar-brand {
  display: flex;
  align-items: center;
}

.Navbar-brand img {
  margin-right: 10px; /* Espacio entre el logo y el texto */
  height: 40px; /* Ajusta la altura del logo */
}

.nav-link {
  color: white !important; /* Asegúrate de que los enlaces sean blancos */
}

.nav-link:hover {
  color: #61dafb !important; /* Color al pasar el ratón */
}

.form-control {
  border-radius: 20px; /* Bordes redondeados para el campo de búsqueda */
}

.button-search {
  border-radius: 20px; /* Bordes redondeados para el botón de búsqueda */
  background-color: #61dafb; /* Color de fondo del botón */
  color: #282c34; /* Color del texto en el botón */
}
.custom-navbar .nav-link.active {
  text-decoration: underline; /* Subrayado */
  font-weight: bold; /* Negrita, si lo deseas */
  color: #d1956a; /* Cambia el color a tu preferencia */
}